<h1>Listing beeps</h1>

<table>
  <tr>
    <th>Phone</th>
    <th>Message</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @beeps.each do |beep| %>
  <tr>
    <td><%= beep.phone %></td>
    <td><%= beep.message %></td>
    <td><%= link_to 'Show', beep %></td>
    <td><%= link_to 'Edit', edit_beep_path(beep) %></td>
    <td><%= link_to 'Destroy', beep, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Beep', new_beep_path %>
